<!DOCTYPE html>
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <form action="/flights/<%= id %>" method="POST">
            <label>Seat Number
                <input name="seat" required pattern="[A-F][1-9]\d?" placeholder='"A19"'>
            </label>Price
                <input class="form-control" type="text" name="price" placeholder='"$1000"'>
            <label>
                <input class="form-control" type="">
            </label>
            <input class="btn btn-primary" type="submit" value=" New Ticket">
        </form>
        <%- include('../partials/footer') %>
    </body>
</html>
