<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
        
        <form action="/flights" method="POST">
            <div class="col-6">
                <label>Flight Date
                    <input class="form-control" type="datetime-local" value="<%= functidate = new Date()  toISOString %>" name="departs">
                </label>
                <label>Flight Number
                    <input class="form-control" type="text"  maxlength="4" placeholder="Flight No" name="flightNo">
                </label>
                <label>Airline
                    <select class="form-control" name="airline">
                        <option>American</option>
                        <option>Southwest</option>
                        <option>United</option>
                    </select>
                </label>
                <input class="btn btn-primary" type="submit" value="New Flight">
            </div>
        </form>

        <%- include('../partials/footer') %>
    </body>
</html>